<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porto</title>
    <link rel="stylesheet" href="/static/styles/styles.css">
</head>
<body class="inicio_body">

    <header class="inicio_header">
        <div class="contentor_header">
            <nav>
                <img class="logotipo" src="/static/Styles/logotipo.png" alt="Logotipo">
                <ul class="lista_opcoes">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Registo</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="imagem_inicial"></div>

    <div class="contentor_centro">
        <h1>PORTAL DE PESQUISA PARA O PORTO ESCOLAR ENIDH</h1>
        <p>Seja bem vindo/a à página de portal oficial para o porto escolar da Escola Nautica Infante D. Henrique. Aqui no PPPPEE, o nosso objetivo consiste em divulgar e expandir a base
            de dados navais quanto ao nosso porto escolar, de modo a facilitar expedições, viagens de estudo e outros empreendimentos. Com a sua ajuda, será possível abordarmos novas
            rotas nas nossas jornadas, com o potencial de diversas venturas e oportunidades no nosso horizonte. Do que está à espera? Crie a sua própria conta! Lorem ipsum dolor sit
            amet, consectetur adipiscing elit. Curabitur at maximus tellus. Suspendisse potenti. Proin at nulla hendrerit, feugiat dolor nec, aliquet quam. Fusce viverra sit amet diam
            et bibendum. Etiam quis cursus lorem, ut porta tortor. Mauris tempor volutpat elementum. Vestibulum ornare efficitur fringilla. Morbi condimentum massa volutpat elit semper
            commodo. Duis gravida turpis massa, quis vestibulum urna laoreet eu.</p>
        <img src="/static/Styles/port.png">
        <p>Explore o nosso site para descobrir mais sobre nossos serviços portuários.</p>
        <a href="/login">Login</a> <a href="/register">Registo</a></li>
    </div><br><br><br><br><br>

    <footer class="inicio_footer">
        <p>&copy; 2025 Porto. Todos os direitos reservados.</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>










